@import "materialize";
@import "toastr";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 95%;
}

.avatar-small {
  width: 50px;
}

.avatar-medium {
  width: 80px;
}

.mask {
  z-index: 99;
}

.col s12 m6 l4:nth-child(4n+1) {
  clear: left;
}




.video-container {
    margin-top: 40px;
    margin-bottom: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-panel {
    margin-top: 40px;
    margin-bottom: 70px;
}




.card-panel {
  
  font-size: 25px;
    color: #e5e5e5;
    margin-bottom: 10px;
}





.row {
    margin-left: -15px;
    margin-right: -15px;
}

.pro-projects {
    margin-bottom: 70px;
}










